/* CSS Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: Arial, Helvetica, sans-serif */
}

body {
    min-height: 100vh;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 24px
}

p {
    font-size: 20px
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #f00;
}

button {
    width: 80px;
    height: 30px;
}

li {}

#body {
    font-size: 20px;
}

/* HEADER */

/* NAVBAR */

.navbar-item {
    margin: auto;
    padding: 0 10px;
    flex: auto;
    text-align: center;
    border-right: 1px solid #aaa;
}

.navbar-selected {
    color: #b00;
}

.navbar-item:first-child {
    width: 330px;
    font-size: 30px;
    margin-left: 10px;
    margin: 5px 0;
    flex-shrink: 0;
    flex-grow: 0;
}

.navbar-item a {
    text-decoration: none;
}

#navbar li {
    list-style: none;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
    z-index: 1;
}

#navbar-list {
    display: flex;
    height: 100%;
}

#navbar-dummy {
    flex-basis: 30%;
}

/* MAIN */

main {
    display: flex;
    position: absolute;
    width: 100%;
    min-height: 100%;
    /* height: 100%; */
    padding: 50px 5% 0 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

#content {
    display: block;
    width: 100%;
    margin: 50px;
    line-height: 40px;
}

#time-info {
    display: inline-block;
}

#languages {
    float: right;
    /* display: inline-block */
}

#content a {
    text-decoration: underline dotted;
}

#report {
    margin-top: 50px
}

/* SIDEBAR */

aside {
    flex-shrink: 0;
    width: 300px;
    overflow-x: hidden;
    border-right: 1px solid #aaa;
    padding-right: 30px;
    padding-top: 30px;
    margin-left: 30px;
    margin-top: 5px;
}

.sidebar-selected {
    color: #b00;
}

.project-link {
    display: inline-block;
    width: 150px;
}

.topic-icons {
    display: inline-block;
    left: 5px;
}

.topic-icon {
    display: inline-block;
    margin: 0 3px 0 3px;
}

.topic-icon:first-child {
    margin: 0 3px 0 0;
}

.topic-icon:last-child {
    margin: 0 0 0 3px;
}

.topic-icon:only-child {
    margin: 0;
}

#projects-sidebar {
    line-height: 30px;
}

#bio-sidebar {
    align-content: center;
}

#bio-sidebar a {
    text-decoration: underline;
}

#my-photo {
    padding: 5%;
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box;
}

#bio-sidebar p {
    font-size: 16px;
}

/* FOOTER */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    margin: 5px 0
}

.social-item {
    text-decoration: none;
    display: inline;
}

#social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 200px;
    flex-shrink: none;
}

#copyright-notice {
    text-align: center;
    color: #aaa;
    font-size: 14px;
}