* {
    padding: 0;
    margin: 0;
    color:inherit;
    text-decoration: none;
}


#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    /* border: 1px dashed red; */
    display: flex;
    background-color: white;
    border-bottom: 1px solid #f6f6f6;
    padding: 0px 10px;
}

#nav li {
    list-style: none;
    display: inline-block;
    height: 60px;
    padding: 0px 15px;
    text-decoration: none;
    color: lightslategray;
    /* border: 1px solid #000000; */
}

#nav li a {
    /* display: table-cell; */
    /* vertical-align: middle; */
    line-height: 60px;
}

#nav-main {
    color: #000 !important;
    display: inline-block;
    padding: 0px 20px;
    /* border: 1px solid #000000; */
    font-size: 30px;
    text-decoration: none;
    line-height: 60px;

}

.nav-selected {
    text-decoration: underline solid black;
}

#body {
    margin-top: 70px;
    height: 90vh;
}

#sidebar {
    width: 400px;
    height: inherit;
    /* border: 1px solid #000; */
    position: fixed;
    background-color: #fff;
    
}

#content {
    height: inherit;
    margin-left: 400px;
    padding: 0px 30px;
}